.backgroundDiv {
    /* background-image: url(); */
    background-size: cover;
    min-height: 120vh;
}

.wrapper {
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px silver;
    min-height: 100vh;
  }


  .formDiv {
      border: solid 2px orchid;
  }